.home-categories {
  display: flex;
  a {
    text-decoration: none;
    color: white;
  }
  p {
    margin: 0;
    margin-right: 24px;
    color: white;
  }
  align-items: center;
  justify-content: center;
  padding: 24px 0;

}
