<footer class="p-3 container-footer">
  <p class="text-center">GET IN TOUCH</p>
  <div class="container-footer-content">
    <div>
      <p>zebrafishmedia</p>
      <p>contact@zebrafishmedia.com</p>
      <p>+ 44 7985 547 375</p>
    </div>
    <div>
      <p>James Norbury | Executive Producer</p>
      <p>jamesnorbury_</p>
      <p>james@zebrafishmedia.com</p>
    </div>
    <div>
    <p>Guy Davies | Executive Producer</p>
    <p>guydavies</p>
    <p>guy@zebrafishmedia.com</p>
    </div>

    <div>
    <p>13 LANSDOWN</p>
    <p>Stroud</p>
    <p>GLS 188</p>
    <p>UK</p>
    </div>
  </div>
</footer>
