<footer class="p-5 container-footer">
  <p class="text-center">GET IN TOUCH</p>
  <div class="container-footer-content">
    <div>
      <p><i class="fa-brands fa-instagram"></i>zebrafishmedia</p>
      <p><i class="fa-regular fa-envelope"></i>contact@zebrafishmedia.com</p>
      <p><i class="fa-brands fa-whatsapp"></i>+ 44 7985 547 375</p>
    </div>
    <div>
      <p><strong>James Norbury</strong>  |  Executive Producer</p>
      <p><i class="fa-brands fa-instagram"></i>jamesnorbury_</p>
      <p><i class="fa-regular fa-envelope"></i>james@zebrafishmedia.com</p>
    </div>
    <div>
      <p><strong>Guy Davies</strong>  |  Executive Producer</p>
      <p><i class="fa-brands fa-instagram"></i>guydavies</p>
      <p><i class="fa-regular fa-envelope"></i>guy@zebrafishmedia.com</p>
    </div>
    <div class="footer-location">
      <i class="fa-solid fa-location-dot"></i>
      <div>
        <p>13 LANSDOWN</p>
        <p>Stroud</p>
        <p>GLS 188</p>
        <p>UK</p>
      </div>
    </div>
  </div>
</footer>
