<nav class="navbar navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ZEBRAFISH</a>
    <%= image_tag 'logo-mark', class: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarknavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas bg-black offcanvas-top text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-brand" id="offcanvasDarkNavbarLabel">
        <%= image_tag 'logo-mark', class: "logo" %>
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="container-nav" data-controller="header">
          <div id="partial-frame">
          </div>
          <div class="container-nav-links">
            <p class="nav-link-white" data-action="mouseover->header#loadPartial" data-url="/pages/partials/about"> WHO ARE WE </p>
            <p class="nav-link-white" data-action="mouseover->header#loadPartial" data-url="/pages/partials/portfolio"> PORTFOLIO </p>
            <p class="nav-link-white" data-action="mouseover->header#loadPartial" data-url="/pages/partials/media"> ZEBRAFISH MEDIA </p>
            <%# <p class="nav-link-white" data-action="mouseover->header#loadPartial" data-url="/pages/partials/contact"> CONTACT </p> %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
