<div class="container-about">
  <%= image_tag 'ourstory.jpg' %>
  <div class="text-about">
    <p>Here at Zebrafish Media we do things a bit differently: we don’t think you need multiple offices and a huge team to deliver powerful and distinctive content. Quite the opposite in fact.</p>
    <p>From our experience we believe that bodycount and scale can suffocate the creative zeal that fuels quality film-making, stifle the collaborative process, and inhibit the speed of delivery. We, on the other hand, are agile, versatile, and cost-effective. Like any other production house worth their salt, we’re multi award-winning and able to fulfil any creative brief no matter the scope, whether a full-scale feature film or a quick promotional piece, but unlike our counterparts you won’t find any bureaucracy to wade through: a lean company structure with a wealth of commercial (not just creative) experience, and a wide network of affiliates, ensures that we move swiftly, decisively, and collaboratively.</p>
    <p>Tell us what you want, and we’ll move heaven and earth to deliver it with the individual and personal approach for which we’re renown. We guarantee that every project we work on together will surpass expectations, and we’d wager that once you get a taste of what it’s like working with a family like ours, it will be hard to return to the status quo.</p>
  </div>
</div>
