.show-featured-img {
  position: relative;
  margin-top: -58px;
  height: 100vh;

  .show-project-info {
    position: absolute;
    bottom: 120px;
    left: 64px;
    color: white;
  }


  .show-project-client {
    font-size: 2em;
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: 200;
  }

  .show-project-name {
    margin-top: 0;
    line-height: 1;
    font-weight: 100;
  }

}
