.carousel-featured {
  position: relative;
  margin-top: -56px;

  .carousel-control-prev,
  .carousel-control-prev-icon,
  .carousel-control-next,
  .carousel-control-next-icon {
    position: absolute;
    bottom: 5vh;
  }


  .carousel-project-caption {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    bottom: 10vh;
    right: 12vw;
    color: #FFFFFF;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 1px;
    p {
      font-weight: 200;
      margin: 0px;
      font-size: 12px;
    }
  }

  .carousel-project-caption.fade-in {
    opacity: 1;
  }


  .carousel-img {
    width: 100%; /* Ensures the image takes the full width of the container */
    height: 100vh; /* Set a fixed height that works for your landscape images */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    object-position: center; /* Centers the image in the container */
  }

}

.carousel-project {
  height: 400px;

}


.project-carousel-img {
  height: 400px;
  margin: 0 auto;
}
