.navbar {
  justify-content: space-between;
  background: $black;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0px;
  padding-top: 24px;



  .logo {
    height: 28px;
    width: auto;
    align-self: end;
    padding-bottom: 4px;
  }

  .navbar-brand {
    align-self: end;
    padding: 0px;
    line-height: 1;
    padding-bottom: 4px;
  }

  .navbar-toggler {
    align-self: end;
    border: none;
    padding: 0px;
  }

  .offcanvas, .offcanvas-top {
    height: 100vh;
    background-color: black;

  }

}


.container-nav {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  height: 100%;

  #partial-frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .container-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-link-white {
    color: white;
    font-weight: lighter;
    font-size: 28px;

  }
}

.nav-link-white {
  a {
    text-decoration: none;
    color: white;
  }
}

#partial-frame {
  img {
    width: 80%;
  }

}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
