.navbar {

  justify-content: space-between;
  background: #151616;
  background-color: #151616;
  color: white;
  padding: 0px;
  padding: 24px 48px;
  padding-bottom: 0px;
  height: 56px;

  .navbar-logo {
    width: 140px;
  }

  .container-fluid {
    margin: 0px;
    padding: 0px;
    position: relative;


  }
  .logo {
    height: 36px;
    width: auto;
    bottom: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar-brand {
    padding: 0px;
    line-height: 1;
    padding-bottom: 6px;
    margin: 0px;
  }

  .navbar-toggler {
    align-self: end;
    border: none;
    padding: 2px;
    color: #FFFFFF;

  }

  .toggler-icon {
    height: 28px;
  }



  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
      color: #FFFFFF;

  }


  .offcanvas, .offcanvas-top {
    height: 100vh;
    background-color: #151616;
    background: #151616;
    margin-top: 56px;

  }

}

.offcanvas-header {
  .toggler-close-icon {

    height: 18px;
  }
  button {
    position: absolute;
    right: 48px;
    top: -32px;
    background-color: transparent;
    border: none;
    }
}


.container-nav {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
  height: calc(100% - 48px - 56px);



  #partial-frame {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px - 48px - 80px);

    img {
      height: 100%;
      width: auto;

    }

    .img-horizontal {
      width: 100%;
      height: auto;
    }


  }
  .container-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    // padding: 40px;
  }
}

.nav-link-white {
  font-weight: 200;
  font-size: 28px;
  display: flex;
  justify-content: center;
  color: #CCCCCC;

  // &:hover {
  //   color: #FFFFFF;
  // }
  a {
    color: #CCCCCC;
    text-decoration: none;

    &:hover {
      color: #FFFFFF;
    }

  }
}




.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



@media (max-width: 575.98px) {
  .navbar {
    padding: 16px;

    .logo {
      height: 18px;
    }
    .navbar-logo {
      width: 90px;
    }
  }



  .offcanvas-header {

    button {
      position: absolute;
      right: 16px;
      top: -32px;
      background-color: transparent;
      border: none;
      }
  }

  .container-nav {

    grid-template-columns: 1fr;

    #partial-frame {
      display: none;
    }
  }

  }
