.container-swiper {
  padding: 116px 0px;
}

.swiper {
  height: 80vh;
  width: 100%;
}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-shrink: 0;
  padding: 30px;
}

.swiper-slide img {
  // display: block;
  height: 100%;
  // object-fit: cover;
}

.swiper-button-next::after, .swiper-button-prev::after {
  color: white;
}
