// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
// @import "https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css";


// Your CSS partials
@import "components/index";
@import "pages/index";
@import "projects/show";
@import "projects/new";

body {
  background-color:#1D1D1D;
  letter-spacing: 0.15rem;

}



.splide__slide {

  img {
    height: 100%;
  }


}


.text-bold a {
  color: #FFFFFF;

}

.link-bold{
  color: #FFFFFF;
}

.container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
