<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>

<%= render 'pages/featured_carousel', projects: @featured_projects %>
<div class="home-categories">
  <% @categories.each do |category| %>
    <p><%= link_to category.name.upcase, category, data: { turbo_frame: :project_grid, turbo_action: :advance  } %></p>
  <% end %>
</div>
<%= render 'projects/grid', projects: @projects %>
